/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 250px;

font-family: 'Lato', sans-serif;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 170px;
  background-color: #292929;
  color: #777;
  padding-top: 2em;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}



/* Index Styling */
  .navbar-default{background-color: rgba(255,255,255, .9);}
  .navbar-nav>li>a{cursor: pointer;}
  .btn-custom{background-color: transparent; border:1px solid #eee; color: #eee;padding-left:2em;padding-right: 2em; font-size: 17px;}
  .btn-custom:hover{color: #777; background-color: #eee;}
  .h4-banner{font-weight:300; font-size: 21px; line-height: 26px;}
  .h2-banner{margin-bottom:1em; margin-top: 2em;}
  .hr-banner{width:40px; border-color:#eee;margin-top:2.5em;margin-bottom: 3em;}
  div.container-assessment{padding-left:3%;padding-top:0;}
  .assessment-header{color:#808080;font-weight:300;margin-bottom: 1em; margin-top: 1em;}
  div.assessment-header-container{padding-top:0;}
  .assessment-wrapper{width:100%;}
  .assessment-wrapper a{cursor:pointer;}
  .assessment-child{width:17%;margin-right:3%;display:inline-block; border:1px solid #eee; vertical-align: top;}
  .assessment-child .img-response{ height:150px; width:100%; background-repeat: no-repeat;}
  .assessment-child:hover{background-color: rgba(128,128,128,.1);}
  .assessment-last-child{margin-right:0;}
  .assess-content-header{color:#808080;}
  h5.assess-content-header{font-weight: ;}
  ...-content-header-last{padding-top: 4em;}
  .assess-inner-content{padding:1em; color:#808080;}
  .how-header, .font-color{color:#808080;}
  .row-footer{width: 100%;}
  .footer-content{width: 32%; display: inline-block; vertical-align: top; }

code {
  font-size: 80%;
}

/* Sign In */
.body-sign-in{
        margin-bottom: 0;
      }
div.banner-sign-in{
  height:768px;
}
  form.form-sign-in input.form-control{border:none; box-shadow: none; border-bottom: 1px solid #dcdcdc;border-radius: 0;height: 44px;margin-bottom: 2em;}
  form.form-sign-in input.form-control:hover, form input.form-control:focus, input.form-control:active{
        box-shadow: none;
      }
  form.form-sign .btn{border-radius: none;}
  .panel-sign-in{padding-bottom: 2em;}
  .panel-sign-in h2, .panel-sign-in h5{color: #6E6561;}

/* Sign UP */
.form-signup .form-control{
  
}
.form-sign-up label{
  font-weight: 400;
  font-size: 14px;
  color: #6E6561;
  margin-top: .5em;
}
form.form-sign-up input.form-control {border:none; box-shadow: none; border-bottom: 1px solid #dcdcdc;border-radius: 0;margin-bottom:.5em ; margin-top: 0;
  height: 39px;}
  form.form-sign-up select.form-control{
    margin-bottom: 1.2em;
  height: 39px;
  }
  form.form-sign-in input.form-control:hover, form input.form-control:focus, input.form-control:active{
    border-bottom: 1px solid #2B93A8;
      }

/* Assessment Template */
div.assessment-banner{
  background-image:url(../img/dark_circles.png); height:200px; width:100%;padding-left:0;padding-right:0;
}
.assessment-h3{
  margin-top:9em; color:#fff;
}
.marquee {
  overflow: hidden;
}
.more-assessments{width:17%; display:inline-block; vertical-align:top; margin-right:1%;}
.more-assessments-h4{background:#292929;color:#eee;margin-bottom:5px; margin-top:0; padding-left:1em;padding-top:1em;padding-bottom:1em;}
div.assessment-scroll{width:100%;margin-right:;display:block; vertical-align:; background-color: #fff; margin-top: 1em; cursor: pointer;}
.assessment-detail{background:#fff;padding-top:2em; padding-left:1.5%; padding-right:1.5%; padding-bottom:2em;width:57%; display:inline-block; vertical-align:top; margin-right:1%;
  box-shadow:0px 0px 0px 1px #DEDDEB;
    -webkit-box-shadow:0px 0px 0px 1px #DEDDEB;
    -moz-box-shadow:0px 0px 0px 1px #DEDDEB;
    -o-box-shadow:0px 0px 0px 1px #DEDDEB;
}
.more-assessment-link{color: #292929;}
.more-assessment-link:hover{color: #292929;}
.assessment-scroll .img-response{ height:150px; width:100%; background-repeat: no-repeat;}
.enrol-now{background-color:#fff;margin-left:;width:20%; display:inline-block; vertical-align:top;padding-left:1%;padding-right:1%;padding-bottom:1em;padding-top: 1em;
  box-shadow:0px 0px 0px 1px #DEDDEB;
    -webkit-box-shadow:0px 0px 0px 1px #DEDDEB;
    -moz-box-shadow:0px 0px 0px 1px #DEDDEB;
    -o-box-shadow:0px 0px 0px 1px #DEDDEB;
}

/* Profile Styling */
 .affix-top,.affix{
  position: static;
  overflow: hidden;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
    margin-top:30px;
    width:228px;
  }
  
  #sidebar.affix {
    position: fixed;
    top:70px;
    width:228px;
  }
}

#sidebar li.active {
   /* border:0 #fff solid;*/
    border-right-width:4px;
}
#sidebar li a.active {
  background-color: #868686;
  color: #fff;
}
#mainCol h2 {
  padding-top: 10px;
    margin-top: -20px;
    padding-bottom: 10px;
    padding-left: 1em;
    font-size: 22px;
    background:#868686;color:#fff;
    font-weight: 300;
    margin-bottom: 0;
}
.nav-stacked{
box-shadow:0px 0px 0px 1px #DEDDEB;
    -webkit-box-shadow:0px 0px 0px 1px #DEDDEB;
    -moz-box-shadow:0px 0px 0px 1px #DEDDEB;
    -o-box-shadow:0px 0px 0px 1px #DEDDEB;
    margin-bottom: 2em;s
}
.nav-stacked li{
  background-color: #fff;
}
.nav-stacked li a{
  padding-top: 1em;
  padding-bottom: 1em;
  color: #868686;
}
.bold-table-header{
  font-weight:600;
}
.navbar-text{
  padding-left: 1.2em;
}
.login-assessment-body{
  background:#F5F5F5;
  padding-top:50px;
}
.table .summary-table{
  padding-top: 1em;
}
table.table td span.summary-total{
  padding-top: .8em;
}
#mainCol table{
  background:#fff;
}


/* Media Styling */

@media(min-width: 1361px){
  .banner{background-image:url(../img/landing.jpg); width:100%; height:500px;background-position:top center;background-repeat: no-repeat;}
}
@media(max-width: 1360px) and (min-width: 768px){
  .banner{background-image:url(../img/landing-medium.jpg); width:100%; height:500px;background-position:top center;background-repeat: no-repeat;}
}
@media(max-width: 767px) and (min-width: 600px){
  .banner{background-image:url(../img/landing-small.jpg); width:100%; height:500px;background-position:top center;background-repeat: no-repeat;}
}
@media(max-width: 599px) and (min-width: 481px){
  .banner{background-image:url(../img/landing-small.jpg); width:599px; height:500px;background-position:top center;background-repeat: no-repeat;}
}
.navbar-inverse{border-bottom:1px solid #eee;}

.navbar-inverse .navbar-toggle, .navbar-default .navbar-toggle {
    border-color: transparent;
}
.navbar-inverse .navbar-toggle:hover,.navbar-inverse .navbar-toggle:active,.navbar-inverse .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:active,.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}
.nav-footer{
  list-style: none;
  padding-left: 0;
}
.nav-footer a{
  color: #777;
  cursor: pointer;
}
.nav-footer a:hover{
  color: #b4b4b4;
  text-decoration: none;
}
@media(min-width: 993px){
  .body-sign-up{
   margin-bottom:150px;
}
}
@media(max-width: 992px){
  .body-sign-up{
   margin-bottom:700px;
}
  body{
    margin-bottom: 500px;
  }
  div.assessment-child{width:30%;display: inline-block;margin-right: 3%; margin-bottom: 1em;}
  footer.footer {
  height: 400px;
}
body.body-sign-in{
  margin-bottom: 500px;
}
}
@media (min-width: 768px) {
  .navbar > .container{padding-left: 0;padding-right: 0;}
}
@media (max-width: 768px){
  body.body-sign-in{
        margin-bottom: 500px;
      }
  body{margin-bottom: 500px;}
  h2.h2-banner{margin-bottom:0; margin-top: 0; font-size: 26px;}
  h4.h4-banner{font-size: 17px;}
  .hr-banner{margin-top:.5em;margin-bottom: .5em;}
    nav.navbar-inverse{background-color: rgba(41,41,41, .9); border-bottom-color: transparent;}
    footer.footer {
  height: 400px;
}
body.banner{background-image:url(../img/landing-medium.jpg); width:100%; height:500px;background-position:top center;background-repeat: no-repeat;}
.more-assessments{
  display: none;
}
.assessment-detail, .enrol-now{
  width: 100%;
  display: block;
  padding:2em;
}
.enrol-now{
  margin-top: 1em;
}
}
@media(max-width: 640px){
  div.assessment-child{width:45%;display: inline-block;margin-right: 3%;margin-bottom: 1em; vertical-align: top;}
}
@media(max-width: 480px){
  div.assessment-child{width:70%;display:block;margin-right: 15%; margin-left: 15%; margin-bottom: 1em; vertical-align: top;}
    div.banner{background-image:url(../img/landing-small.jpg); width:100%; height:500px;background-position:top center;background-repeat: no-repeat;}
    body.banner{background-image:url(../img/landing-medium.jpg); width:100%; height:500px;background-position:top center;background-repeat: no-repeat;}
   div.footer-content{width: 100%; display: block; margin-bottom: 1.2em;} 
}

